In [1]:
## creating a dictionary
dict1={}
dict1

{}

In [2]:
#creating a dict with interger key
dict2={1:'apple',2:'banana',3:'orange'}
dict2

{1: 'apple', 2: 'banana', 3: 'orange'}

In [4]:
#creating a dict with interger key
dict3={'name':'Ashish','dept':"hr",'salary':'10000'}
dict3

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000'}

In [5]:
print(dict3)

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000'}

In [7]:
#creating a dict with interger key
dict4={1:'zoo','animal':'lion','city':'jodhpur'}
dict4

{1: 'zoo', 'animal': 'lion', 'city': 'jodhpur'}

In [8]:
clas = {'rahul':[88,99,20],'priya':[22,56,89]}
clas

{'rahul': [88, 99, 20], 'priya': [22, 56, 89]}

In [9]:
import pandas as pd
df = pd.DataFrame(clas)
df

   rahul  priya
0     88     22
1     99     56
2     20     89

In [10]:
## aceccing the elements from the dictionary
dict3

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000'}

In [13]:
# i want to access department
dict3['dept']

'hr'

In [15]:
# key is not available with square bracket  will raise error
dict3['address']

KeyError: 'address'

In [17]:
# key is not available with get  will raise error
print(dict3.get('address'))

None

In [18]:
dict3.get('name')

'Ashish'

In [19]:
# if key is not their the get method hav efacility to print default value
dict3.get('address','-- no value--')

'-- no value'

In [20]:
dict3

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000'}

In [21]:
# updating and adding the value
dict3

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000'}

In [23]:
#adding key with value
dict3['address']='jodhpur'

In [24]:
dict3

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000', 'address': 'jodhpur'}

In [25]:
# update the data
dict3['address'] = 'rajsthan'

In [26]:
dict3

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000', 'address': 'rajsthan'}

In [27]:
dict2

{1: 'apple', 2: 'banana', 3: 'orange'}

In [29]:
dict2[2]='Ashish'
dict2

{1: 'apple', 2: 'Ashish', 3: 'orange'}

In [30]:
# remove data from the dictionary
dict3

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000', 'address': 'rajsthan'}

In [31]:
#pop
dict3.pop('dept')

'hr'

In [32]:
#popitem
dict3.popitem()

('address', 'rajsthan')

In [33]:
dict3.popitem()

('salary', '10000')

In [34]:
dict3.popitem()

('name', 'Ashish')

In [35]:
dict3={'name':'Ashish','dept':"hr",'salary':'10000'}
dict3

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000'}

In [37]:
# clear()
dict3.clear()
dict3

{}

In [39]:
#del 
del dict3
dict3

NameError: name 'dict3' is not defined

In [40]:
dict2

{1: 'apple', 2: 'Ashish', 3: 'orange'}

In [41]:
del dict2
dict2

NameError: name 'dict2' is not defined

In [42]:
# copy()
dict3={'name':'Ashish','dept':"hr",'salary':'10000'}
dict3

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000'}

In [43]:
temp = dict3.copy()
temp

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000'}

In [44]:
# fromkeys() create a new dict from the give sequence
# cannot add multiple values or if you do it provide to all keys
dict3

{'name': 'Ashish', 'dept': 'hr', 'salary': '10000'}

In [45]:
temp1=dict3.fromkeys(dict3)
temp1

{'name': None, 'dept': None, 'salary': None}

In [46]:
temp2=dict3.fromkeys(dict3,'ashish')
temp2

{'name': 'ashish', 'dept': 'ashish', 'salary': 'ashish'}

In [1]:
dict3.get('address')

NameError: name 'dict3' is not defined

In [4]:
# dictonary items()
dict3={'name': 'ashish', 'dept': 'ashish', 'salary': 'ashish'}
for k,v in dict3.items():
    print('key -.',k,'- value ->',v)

key -. name - value -> ashish
key -. dept - value -> ashish
key -. salary - value -> ashish

In [5]:
#values()
dict3.values('ashish')

TypeError: values() takes no arguments (1 given)

In [7]:
# write a program to coint the frequecy of each character in give message 
#and store in another dictionary

msg='hello good morning ! , today we have no class'
#### convert all the lower
msg=msg.lower()

### crete new dictionay to store alphabet:frequency
Dict = {}

for word in  msg:
    if word not in Dict:
        Dict[word]=1
    else:
        Dict[word]=Dict[word]+1
print(Dict)

{'h': 2, 'e': 3, 'l': 3, 'o': 6, ' ': 9, 'g': 2, 'd': 2, 'm': 1, 'r': 1, 'n': 3, 'i': 1, '!': 1, ',': 1, 't': 1, 'a': 3, 'y': 1, 'w': 1, 'v': 1, 'c': 1, 's': 2}

In [8]:
#### create a histogram  of frequency

for key,value in Dict.items():
    print(key,'  ','='*value )

h    ==
e    ===
l    ===
o    ======
     =========
g    ==
d    ==
m    =
r    =
n    ===
i    =
!    =
,    =
t    =
a    ===
y    =
w    =
v    =
c    =
s    ==

## dictionary program

In [6]:
# Write a program to count the number of character in the string and
# store them in a dictionary data structure

str1='good morning jodhpur'
len1 = len(str1)
dict1 = {str1:len1}
print(dict1)

{'good morning jodhpur': 20}

In [7]:
# wap to combine all list to dictionary


keys = ['name','age','gender','status','salary']
value = ['ashish',38,'male','fresher','15000']
details = zip(keys,value)
dict1 = dict(details)
print(dict1)

{'name': 'ashish', 'age': 38, 'gender': 'male', 'status': 'fresher', 'salary': '15000'}

In [36]:
# WAP that has Dictionay of names of Students and a list of their marks
# in 4 subjects . Create another dictionay from this dictionary that has
# names of the student and their total marks

#### dict3={'name': 'ashish', 'dept': 'ashish', 'salary': 'ashish'}
#### for k,v in dict3.items():
####    print('key -.',k,'- value ->',v)


prSubject = {'ashish':[40,70,50,80],'ghost':[10,20,30,20],'alien':[70,60,90,90]}
d=[]
e=[]
for i,j in prSubject.items():
    d.append(sum(j))
    e.append(i)
total=zip(e,d)
total=dict(total)
total

{'ashish': 240, 'ghost': 80, 'alien': 310}

In [39]:
# Find out the topper and his/ her score.(in Above Program)

prSubject = {'ashish':[40,70,50,80],'ghost':[10,20,30,20],'alien':[70,60,90,90]}
d=[]
e=[]
for i,j in prSubject.items():
    d.append(sum(j))
    e.append(i)
total=zip(e,d)
total=dict(total)

topper = {min(total):total[min(total)]}
topper

{'alien': 310}

In [3]:
# WAP that invert the dictionary that invert a dictionary , that is it makes
# 'key' of one dictionary 'value' of another and vice versa

dict1={'name': 'ashish', 'age': 38, 'gender': 'male', 'status': 'fresher', 'salary': '15000'}
key=[]
value=[]
for i,j in dict1.items():
    key.append(j)
    value.append(i)
    
dict2=zip(key,value)
dict2=dict(dict2)
print(dict2)

{'ashish': 'name', 38: 'age', 'male': 'gender', 'fresher': 'status', '15000': 'salary'}

In [8]:
# WAP thats Create two dictionary , one that stores conversatation
# value from meter to centigrades and other that stores values from
# centimeters to meters

In [7]:
cm_m=[]
m_cm=[]
a=[]
b=[]
mOrCm=str(input('enter the m or cm : '))
if mOrCm == 'm':
    m = float(input(' m = '))
    cm= m/100
    a.append(m)
    b.append(cm)
    m_cm=zip(a,b)
    m_cm=dict(m_cm)
    print(m_cm)
else:
    cm = float(input(' cm = '))
    m= cm*100
    a.append(cm)
    b.append(m)
    cm_m=zip(a,b)
    cm_m=dict(cm_m)
    print(cm_m)

enter the m or cm : cm
 cm = 45
{45.0: 4500.0}